version: "3.8"

services:
  auth-db:
    image: postgres:15-alpine

    environment:
      POSTGRES_USER: "{{ service.dbUser }}"
      POSTGRES_DB: "{{ service.dbName }}"
      POSTGRES_PASSWORD_FILE: "/run/secrets/{{ authDbPasswordSecretName }}"

    secrets:
      - source: {{ authDbPasswordSecretName }}
        target: {{ authDbPasswordSecretName }}
        mode: 0400

    volumes:
      - auth-db-data:/var/lib/postgresql/data/

    networks:
      - auth-net

    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure

  auth-service:
    image: "{{ swarmRegistryAddr }}/{{ service.imageName }}:{{ service.imageTag }}"

    environment:
      DB_HOST: auth-db
      DB_PORT: "5432"
      DB_NAME: "{{ service.dbName }}"
      DB_USER: "{{ service.dbUser }}"
      DB_PASSWD_FILE: "/run/secrets/{{ authDbPasswordSecretName }}"

      PRIVATE_KEY_PATH: "/run/secrets/{{ jwtPrivateKeySecretName }}"
      PUBLIC_KEY_PATH: "/run/secrets/{{ jwtPublicKeySecretName }}"

      RABBITMQ_HOST: rabbitmq_rabbitmq
      RABBITMQ_PORT: "5672"
      RABBITMQ_USER_FILE: "/run/secrets/{{ rabbitmqUserSecretName }}"
      RABBITMQ_PASSWORD_FILE: "/run/secrets/{{ rabbitmqPasswordSecretName }}"

    networks:
      - auth-net
      - {{ sharedOverlayNetwork }}

    secrets:
      - source: {{ authDbPasswordSecretName }}
        target: {{ authDbPasswordSecretName }}
        mode: 0400

      - source: {{ jwtPrivateKeySecretName }}
        target: {{ jwtPrivateKeySecretName }}
        mode: 0400

      - source: {{ jwtPublicKeySecretName }}
        target: {{ jwtPublicKeySecretName }}
        mode: 0444

      - source: {{ rabbitmqUserSecretName }}
        target: {{ rabbitmqUserSecretName }}
        mode: 0400

      - source: {{ rabbitmqPasswordSecretName }}
        target: {{ rabbitmqPasswordSecretName }}
        mode: 0400

    deploy:
      replicas: {{ service.replicas }}
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable={{ service.traefik.enabled | default(true) | string | lower }}"
        - "traefik.swarm.network={{ sharedOverlayNetwork }}"
        - "traefik.http.routers.{{ service.traefik.routerName }}.rule={{ service.traefik.rule }}"
        - "traefik.http.routers.{{ service.traefik.routerName }}.entrypoints={{ service.traefik.entrypoint | default('web') }}"
        - "traefik.http.services.{{ service.traefik.routerName }}.loadbalancer.server.port={{ service.internalPort }}"
{% if service.traefik.stripPrefix | default(false) %}
        - "traefik.http.middlewares.{{ service.traefik.stripPrefixMiddlewareName }}.stripprefix.prefixes=/{{ service.traefik.routerName }}"
        - "traefik.http.routers.{{ service.traefik.routerName }}.middlewares={{ service.traefik.stripPrefixMiddlewareName }}"
{% endif %}

volumes:
  auth-db-data:

networks:
  auth-net:
    driver: overlay
    internal: true
    name: auth-net

  {{ sharedOverlayNetwork }}:
    external: true
    name: {{ sharedOverlayNetwork }}

secrets:
  {{ authDbPasswordSecretName }}:
    external: true

  {{ jwtPrivateKeySecretName }}:
    external: true

  {{ jwtPublicKeySecretName }}:
    external: true

  {{ rabbitmqUserSecretName }}:
    external: true

  {{ rabbitmqPasswordSecretName }}:
    external: true