version: "3.8"

services:
  agent:
    image: portainer/agent:2.34.0

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

    networks:
      - portainer-agent-network

    deploy:
      mode: global
      placement:
        constraints:
          - node.platform.os == linux
      restart_policy:
        condition: on-failure

  portainer:
    image: portainer/portainer-ce:2.34.0

    command:
      - "-H"
      - "tcp://tasks.agent:9001"
      - "--tlsskipverify"
      - "--admin-password"
      - "{{ portainerAdminPasswordHash }}"
      - "--base-url"
      - "{{ portainerPathPrefix }}"

    ports:
      - target: 9000
        published: {{ portainerHttpPort }}
        protocol: tcp
        mode: ingress

      - target: 9443
        published: {{ portainerHttpsPort }}
        protocol: tcp
        mode: ingress

    volumes:
      - portainer-data:/data

    networks:
      - portainer-agent-network
      - {{ sharedOverlayNetwork }}

    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
      labels:
        traefik.enable: "true"
        traefik.swarm.network: "{{ sharedOverlayNetwork }}"

        traefik.http.routers.portainer-router.rule: "PathPrefix(`{{ portainerPathPrefix }}`)"
        traefik.http.routers.portainer-router.entrypoints: "web"
        traefik.http.routers.portainer-router.service: "portainer-svc"

        traefik.http.services.portainer-svc.loadbalancer.server.port: "{{ portainerInternalPort }}"

        traefik.http.middlewares.portainer-strip-prefix.stripprefix.prefixes: "{{ portainerPathPrefix }}"
        traefik.http.routers.portainer-router.middlewares: "portainer-strip-prefix"

networks:
  portainer-agent-network:
    driver: overlay
    attachable: true

  {{ sharedOverlayNetwork }}:
    external: true
    name: {{ sharedOverlayNetwork }}

volumes:
  portainer-data: